@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #f4d248;
  --color-navy: #293362;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #f4d248;
  --color-navy: #293362;
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-navy {
  background-color: var(--color-navy);
}

.text-primary {
  color: var(--color-primary);
}

.text-navy {
  color: var(--color-navy);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-navy {
  border-color: var(--color-navy);
}

